<div class="row">
    <p class="info">
        {% if config.get('plugins.tntsearch.display_hits') %}
            <span class="hits">Found {{ tntsearch_results.number_of_hits }} results</span>
        {% endif %}
        {% if config.get('plugins.tntsearch.display_time') %}
            <span class="time">in  <span>  {{ tntsearch_results.execution_time }}</span></span>
        {% endif %}
    </p>
    {% for key, val in tntsearch_results.hits  %}
        {% if not val.lang or val.lang == grav.language.getLanguage() %}
            {% set page_route = val.link %}
        {% else %}
            {% set page_route = '/' ~ val.lang ~ val.link %}
        {% endif %}
        <h5 class="title">
            <a href="{{ base_url_simple ~ page_route }}">{{ val.title }}</a>
        </h5>
        {% if config.get('plugins.tntsearch.display_route') %}
            <h6 class="route">{{ page_route }}</h6>
        {% endif %}
        <p>{{ val.content }}</p>
    {% endfor %}
</div>